<h1>Sessions#login</h1>
<p>Find me in app/views/sessions/login.html.erb</p>
<%= form_tag('/sessions', method: :post) do %>
		<div class="field">
			<%= text_field_tag :email, nil, placeholder: 'Email' %>
		</div><br>
		<div class="field">
			<%= password_field_tag :password, nil, placeholder: 'Password' %>
		</div>
		<div class="action"><br>
			<%= submit_tag 'Войти', class:"btn btn-primary" %>
		</div>
<% end %>