<h1>Pages#dashboard</h1>
<p>Find me in app/views/pages/dashboard.html.erb</p>
<% if current_user && current_user.owner %>
		<li class="account"><%= link_to 'Создать юзера', users_path %></li>
<% end %>