<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-right">
					<% if current_user %>
						<li><%= link_to current_user.name if current_user %></li>
						<li><%= link_to 'Выход', logout_path %></li>
					<% else %>
						<li><%= link_to 'Главная', root_path %></li><br>
						<li><%= link_to 'Регистрация', registration_path %></li><br>
						<li><%= link_to 'Вход' %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>