<%= form_for(@account) do |account_form| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= account_form.label 'Название аккаунта' %><br>
    <%= account_form.text_field :name %>
  </div>
  <div class="field">
    <%= account_form.label 'поддомен аккаунта' %><br>
    <%= account_form.text_field :subdomain %>
  </div><br>
		<%= account_form.fields_for :users do |users_form| %>
				<div class="field">
					<%= users_form.label 'Имя пользователя' %><br>
					<%= users_form.text_field :name %>
				</div><br>
				<div class="field">
					<%= users_form.label 'Адрес электронной почты' %><br>
					<%= users_form.email_field :email, class: "form-control", id:"inputEmail", placeholder: "Email" %>
				</div><br>
				<div class="field">
					<%= users_form.label 'Пароль пользователя' %><br>
					<%= users_form.password_field :password, placeholder: "Password" %>
				</div>
		<% end %>


  <div class="actions"><br>
    <%= submit_tag 'Зарегистрироваться', class:"btn btn-primary" %>
  </div>
<% end %>
